@import components/button
@import components/inputs
@import components/header
@import components/modals

.ui-block
	padding: 10px
	.ui-btn-wrap
		display: flex
		padding: 20px 0
		background: #ffffff
		margin: 10px 0
		&>div
			text-align: center
			padding: 10px

.index-page
	h1
		font-size: 62px
		font-weight: 100
		line-height: 3.23
		letter-spacing: 40px
		padding-top: 102px
		text-align: justify
