@import components/button
@import components/inputs
@import components/header
@import components/modals
@import components/cap
@import components/shareblock
@import components/sliders


.ui-block
	padding: 10px
	.ui-btn-wrap
		display: flex
		padding: 20px 0
		background: #ffffff
		margin: 10px 0
		&>div
			text-align: center
			padding: 10px

.index-page
	&-title
		width: 100%
		max-width: 1100px
		margin: 0 auto
		position: relative
		z-index: 2
		padding: 0 80px
		h1
			font-size: 62px
			font-weight: 100
			line-height: 3.23
			letter-spacing: 40px
			padding-top: 102px
			text-align: justify
			letter-spacing: 100px

.aside
	&-footer
		width: 100%
		max-width: 400px
		text-align: left
		margin-left: auto
		margin-right: 0
		padding-top: 80px
		padding-bottom: 135px
	.contacts-wrap
		margin-bottom: 110px
		a
			display: block
			margin: 10px 0
			color: $color
			&[href^=mail]
				color: $link-color
				margin: 20px 0
		
.contacts-page, .form-models-success
	.main
		padding-top: 0
		+vertical
		text-align: left

.form-success
	width: 100%
	max-width: 520px
	&__title
		margin-bottom: 20px
	&__msg
		margin-bottom: 50px

.gallery-wrap
	font-size: 0
.gallery-item
	display: inline-block
	width: 33%

.gallery-news
	.main
		padding-left: 0
	&-title
		margin-bottom: 40px
		letter-spacing: normal
		h1
			font-size: 50px
			line-height: normal
	&-date
		font-size: 14px
		line-height: 1.71
		margin-bottom: 75px
		text-transform: uppercase
	&-description
		margin-bottom: 50px
	&-content
		width: 100%
		max-width: 720px
		font-size: 0
		padding-top: 160px
		& > * 
			&:not(:last-child)
				margin-bottom: 20px

.about-menu
	padding-left: 6.66%
	padding-top: 40px
	&__list
		margin-left: 40px
	&__item
		&:not(:first-child)
			margin-top: 10px
	&__link
		text-transform: uppercase
		display: inline-block
		padding: 3px 0
		font-size: 12px
		letter-spacing: 3px
		position: relative
		&::before
			content: ''
			display: block
			width: 50px
			height: 1px
			background-color: $color
			position: absolute
			top: 9px
			left: -70px
			transform: scaleX(0)
			transform-origin: 100%
			transition: transform .3s
		&:hover
			&::before
				transform: scaleX(.6)
				transition-timing-function: ease-out
		&.active
			color: $color
			pointer-events: none
			&::before
				transform: scaleX(1)
.about-content
	padding-left: 6.66%
	padding-top: 135px
	font-size: 0
	&__full-text
		max-width: 840px
		margin: 80px auto 85px auto
	&__row
		display: flex
		align-items: flex-end
	&__cell
		position: relative
		width: 50%
		display: inline-block
		text-align: right
		h1
			position: absolute
			top: 45px
			left: 40px
			text-align: left
		img
			max-width: 480px
		&.cell-title
			img
				max-width: 460px
		&.cell-text_r
			padding-left: 12.5%
			padding-bottom: 18px
		&.cell-text_l
			align-self: flex-start
			padding-top: 20px
			padding-left: 14.5%
			padding-right: 20px
	&__text
		width: 100%
		max-width: 360px
		// margin: 0 auto
		margin-bottom: -20px
		text-align: left
		.text
			margin: 20px 0
		.text-big
			margin: 0
			margin-bottom: 50px
			font-weight: normal
			line-height: 1.54
		.sub-title
			margin-top: 110px
			margin-bottom: 30px
	&__slider
		font-size: 20px
		background-color: $bg-dark
		width: 100%
		max-width: 840px
		margin-right: 0
		margin-left: auto
		margin-top: 150px
	
.about	
	.link-footer
		padding: 175px 6.66%
		display: flex
		justify-content: space-between




.error
	&-wrap
		height: 100%
		display: flex
		flex-wrap: wrap
		justify-content: center
		padding-top: 60px
		padding-bottom: 35px
		&-inner
			text-align: center
			margin: auto
		.social-links
			margin-top: auto
			margin-bottom: 0
	&-title
		width: 100%
		font-size: 200px
		font-weight: 200
		margin-bottom: 34px
	&-message
		width: 100%
