---
title: About us
bodyClass: about-page
//- outClass: Index_Page
---
extends layouts/_layout
block content

	#barba-wrapper
		.barba-container(data-namespace="about-page")
			.block
				.block__bg
				.block-content
					h1 hello
