---
title: 404
bodyClass: error-404
//- outClass: Index_Page
---
extends layouts/_layout
block content
	//- .block
	//- 	._element
	//- 		.-modificator
	//- 			#app
	//- 				h1 hello
	//- 	.inner._element
	//- 		._in-element
	//- 			h2 qq
	#barba-wrapper
		.barba-container(data-namespace="index")
			.block.-fullpage
				._bg
				.block-content
					.error-title 404
					.error-message
						.text-big Sorry, the page you requested does not exist. 
						.text-big Go to the main page.
