---
title: Gallery
bodyClass: gallery
//- outClass: Index_Page
---
extends layouts/_layout
block content

	#barba-wrapper
		.barba-container(data-namespace="gallery")
			.block
				.block__bg
				.block-content
					.gallery-page
						h1.gallery-page__title gallery
						.gallery-filter.js-isotope-filter
							a.gallery-filter__item(href="#", data-filter="*") #all
							a.gallery-filter__item(href="#", data-filter=".newface") #newface
							a.gallery-filter__item(href="#", data-filter=".shooting") #shooting
							a.gallery-filter__item(href="#", data-filter=".editorial") #editorial
							a.gallery-filter__item(href="#", data-filter=".campaign") #campaign
							a.gallery-filter__item(href="#", data-filter=".show") #show
							a.gallery-filter__item(href="#", data-filter=".video") #video
							
						.gallery-wrap.js-isotope-wrap
							.stamp-gallery.stamp1
							.stamp-gallery.stamp2
							+gallery-item('gallery-1.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'editorial video')
							+gallery-item('gallery-2.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'newface campaign')
							+gallery-item('gallery-3.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'show shooting newface')
							+gallery-item('gallery-4.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'video show')
							+gallery-item('gallery-5.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'editorial editorial')
							+gallery-item('gallery-6.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'editorial editorial campaign')
							+gallery-item('gallery-7.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'newface editorial show')
							+gallery-item('gallery-8.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'show shooting newface')
							+gallery-item('gallery-1.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'editorial editorial campaign')
							+gallery-item('gallery-2.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'video show')
							+gallery-item('gallery-3.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'show shooting newface')
							+gallery-item('gallery-4.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'editorial editorial campaign')
						.gallery-page__footer
							a.link-big.add-gallery-item(href="#") load more