---
title: Gallery News
bodyClass: gallery-news
//- outClass: Index_Page
---
extends layouts/_layout
block content

	#barba-wrapper
		.barba-container(data-namespace="gallery-news")
			.block
				.block__bg
				.block-grid
					.aside
						.aside-content-wrap.js-stick-parent
							.aside-content.js-stick
								.gallery-news-title
									h1 Sasha Pronenko
								.gallery-news-date 20 dec 2017
								.gallery-news-description For POLOGEORGIS furs collections
								.gallery-news-info
									p.text Model:
										a(href="#") Sasha Pronenko
									p.text Designer: Sveta Pantelу
									p.text Brand: POLOGEORGIS
					.main
						.main-content
							.gallery-news-content
								
				.block-footer
					a.link-big(href="#") back to gallery