---
title: Index_Page
bodyClass: Index_Page
outClass: Index_Page
---
extends layouts/_layout
block content
	//- .block
	//- 	._element
	//- 		.-modificator
	//- 			#app
	//- 				h1 hello
	//- 	.inner._element
	//- 		._in-element
	//- 			h2 qq
	#barba-wrapper
		.barba-container(data-namespace="index")
			.index-page
				.block.-fullpage
					._bg._video
						.video-container
							video.fillWidth(autoplay='', loop='',data-src='img/video.mp4', type='video/mp4')
					.block-content
						h1 F i n d     t h e     b e a u t y     i n s i d e