include layouts/_mixins

+models-item('models-1.jpg', 'Sasha Pronenko')
+models-item('models-2.jpg', 'Vasili Viartsiukhova')
+models-item('models-3.jpg', 'Masha Pronenko')
+models-item('models-4.jpg', 'Anastasia Viartsiukhova')
+models-item('models-5.jpg', 'Vasiliy')
+models-item('models-6.jpg', 'Alena Viartsiukhova')
+models-item('models-7.jpg', 'Sasha Pronenko')
+models-item('models-8.jpg', 'Anastasia Viartsiukhova')
+models-item('models-1.jpg', 'Sergey')
+models-item('models-2.jpg', 'Vasil ')
+models-item('models-8.jpg', 'Anastasia Viartsiukhova')
+models-item('models-1.jpg', 'Sasha Pronenko')
+models-item('models-2.jpg', 'Olia Viartsiukhova')
+models-item('models-3.jpg', 'Masha Pronenko')
+models-item('models-4.jpg', 'Anastasia Viartsiukhova')
+models-item('models-5.jpg', 'Sasha Pronenko')
+models-item('models-6.jpg', 'Alena Viartsiukhova')
+models-item('models-7.jpg', 'Sasha Pronenko')
+models-item('models-8.jpg', 'Dima Viartsiukhova')