//BEGIN header
.header-inner
	.navigation
		button.navigation-burger.js-popup-button(title="menu", data-modal='modal-menu')
			span.navigation-burger__item
			span.navigation-burger__item
			span.navigation-burger__item
		ul
			li
				a(href="#") about agency
			li
				a(href="#") for models
			li
				a(href="#") for partners
		a.navigation-lang(href="#") рус
		.navigation-link
			a.navigation-link__item(href="#") Business request
			span.navigation-link__devider
			a.navigation-link__item(href="") Become a model
		a(href="/").navigation-logo
			+icon('logo')
//END header