//BEGIN header
.header-inner
	.navigation
		.navigation-burger.js-popup-button(title="menu", data-modal='modal-menu')
			span.navigation-burger__item
			span.navigation-burger__item
			span.navigation-burger__item
		a.navigation-lang(href="#") рус
		a(href="/").navigation-logo
			+icon('logo')
//END header