//BEGIN header
.header-inner
	.navigation
		.navigation-burger.js-popup-button(title="menu", data-modal='modal-menu')
			span.navigation-burger__item
			span.navigation-burger__item
			span.navigation-burger__item
		a(href="/2-0-models.html").navigation-back
			+icon('back')
		a.navigation-lang.no-barba(href="#") рус
		a(href="/home.html").navigation-logo
			+icon('logo')
		a.navigation-search(href="#search-block")
			+icon('loupe')
		.navigation-link.header-links
			.navigation-link-wrap
				a.navigation-link__item(href="/7-0-Become-model.html") Become a model
				a.navigation-link__item(href="/6-0-contacts.html") Business request
//END header