.modal-layout.js-popup-container(data-modal='modal-menu')
	.modal-container.modal-menu
		.modal-menu__l-1
		.modal-menu__l-2
		.pop-close.closePopup
			+icon('cross')
		.modal-menu-inner
			.navigation-link.quest-links
				.navigation-link-wrap
					a.navigation-link__item(href="#") Business request
					a.navigation-link__item(href="") Become a model
			.pages-links
				a.pages-links__item(href="#") 
					span Agency
					.hov-decor
						.hov-decor-inner
							img(src='img/kate-img.jpg')
				a.pages-links__item(href="#") 
					span Models
					.hov-decor
						.hov-decor-inner
							img(src='img/kate-img.jpg')
				a.pages-links__item(href="#")
					span Gallery
					.hov-decor
						.hov-decor-inner
							img(src='img/kate-img.jpg')
				a.pages-links__item(href="#")
					span Contacts
					.hov-decor
						.hov-decor-inner
							img(src='img/kate-img.jpg')
			.navigation-link.social-links
				a.navigation-link__item(href="#") facebook
				a.navigation-link__item(href="#") instagram
				a.navigation-link__item(href="#") vkontakte
			a(href="http://flxmd.by/" target="_blank").link-dev Made in Flex.media