.modal-layout.js-popup-container(data-modal='modal-menu')
	.modal-container.modal-menu
		.modal-menu__l-1
		.modal-menu__l-2
		.pop-close.closePopup
			+icon('cross')
		.modal-menu-inner
			.navigation-link.quest-links
				a.navigation-link__item(href="#") Business request
				a.navigation-link__item(href="") Become a model
			.pages-links
				a.pages-links__item(href="#") Agency
					.hov-decor
						.hov-decor-inner
							img(src='img/kate-by-andrews-kovas-7.png', srcset='img/kate-by-andrews-kovas-7@2x.png 2x,\ img/kate-by-andrews-kovas-7@3x.png 3x')
				a.pages-links__item(href="#") Models
					.hov-decor
						.hov-decor-inner
							img(src='img/kate-by-andrews-kovas-7.png', srcset='img/kate-by-andrews-kovas-7@2x.png 2x,\ img/kate-by-andrews-kovas-7@3x.png 3x')
				a.pages-links__item(href="#") Gallery
					.hov-decor
						.hov-decor-inner
							img(src='img/kate-by-andrews-kovas-7.png', srcset='img/kate-by-andrews-kovas-7@2x.png 2x,\ img/kate-by-andrews-kovas-7@3x.png 3x')
				a.pages-links__item(href="#") Contacts
					.hov-decor
						.hov-decor-inner
							img(src='img/kate-by-andrews-kovas-7.png', srcset='img/kate-by-andrews-kovas-7@2x.png 2x,\ img/kate-by-andrews-kovas-7@3x.png 3x')
			.navigation-link.social-links
				a.navigation-link__item(href="#") facebook
				a.navigation-link__item(href="#") instagram
				a.navigation-link__item(href="#") vkontakte
			a(href="http://flxmd.by/" target="_blank").link-dev Made in Flex.media