.header-inner
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 5
	visibility: hidden
	padding: 40px

.navigation
	width: 100%
	height: 100%
	position: relative
	&-burger		
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: stretch
		width: 20px
		height: 20px
		cursor: pointer
		background-color: transparent
		visibility: visible
		position: absolute
		top: 0
		left: 0
		opacity: 1
		transition: opacity .3s .3s, visibility 0s .2s
		&__item
			display: block
			width: 100%
			height: 2px
			background-color: $color
	&-lang
		display: block
		position: absolute
		top: 0
		right: 0
		font-size: 12px
		font-weight: normal
		line-height: 1.67
		letter-spacing: 3px
		text-transform: uppercase
		visibility: hidden
		color: $color
		transform: translateX(20px)
		transform-origin: 100% 0
		opacity: 0
		transition: transform .3s .1s, opacity .3s .1s, visibility 0s .3s
	&-logo
		display: block
		width: 20px
		height: 112px
		position: absolute
		left: 0
		bottom: 0
		visibility: visible
		color: $color
	&-search
		display: none
		position: absolute
		left: 0
		top: calc(50% - 10px)
		visibility: visible
		color: $light-brend
		width: 20px
		height: 20px
	&-link
		width: 100%
		text-align: center
		text-transform: uppercase
		font-size: 12px
		line-height: 1.67
		letter-spacing: 3px
		transition: color .15s
		position: relative
		z-index: 2
		&:hover &__item
				color: $link-color
		& &__item
			color: $color
			&:hover
				color: $color
		& > *:not(:first-child)
			margin-left: 40px
		&-wrap
			display: inline-block
			font-size: 0
			+clr
			&:hover
				.navigation-link__item
					&:first-child
						&:hover
							&::after
								background-color: $color
								transform: translateX(-25px) scaleX(.9)
						&:not(:hover)
							&::after
								background-color: $color
								transform: translateX(25px) scaleX(.9)
							
		&-wrap &__item
			display: inline-block
			position: relative

			&:first-child
				padding-right: 60px
				&::after
					content: ''
					display: block
					width: 40px
					height: 1px
					margin-top: 12px
					margin-right: -80px
					float: right
					background-color: $light-brend
					transition: transform .4s ease, background-color .3s
			&:last-child
				padding-left: 60px

.menu-mobile
	.navigation
		&-burger
			opacity: 0
			visibility: hidden
			transition: opacity .1s 0s, visibility 0s .1s

.index-page, .error, .menu-mobile			
	.navigation-lang
		visibility: visible
		opacity: 1
		transform: none
		transition: transform .3s .15s, opacity .3s .15s, visibility 0s .1s

.models
	.navigation-search
		display: block